# Ignore bundler config
/.bundle

# Ignore local database.yml
config/database.yml

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles
/log/*

# Ignore the tmp folder
/tmp

# Ignore solr
/solr

# Ignore migrations that have been copied in from the engine.
/db/migrate/*.artfully_ose_engine.rb

# Ignore local rvmrc file. Use your own Ruby.
.rvmrc

